<h1>Listing conta</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Perfil</th>
    <th>Email</th>
    <th>Senha</th>
    <th>Ativo</th>
    <th>Datacadastro</th>
    <th>Dataultimoacesso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conta.each do |contum| %>
  <tr>
    <td><%= contum.usuario_id %></td>
    <td><%= contum.perfil_id %></td>
    <td><%= contum.email %></td>
    <td><%= contum.senha %></td>
    <td><%= contum.ativo %></td>
    <td><%= contum.dataCadastro %></td>
    <td><%= contum.dataUltimoAcesso %></td>
    <td><%= link_to 'Show', contum %></td>
    <td><%= link_to 'Edit', edit_contum_path(contum) %></td>
    <td><%= link_to 'Destroy', contum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contum', new_contum_path %>
