<h2>Sign up</h2>
<%= form_for(@conta) do |f| %>
  <% if @conta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conta.errors.count, "error") %> prohibited this conta from being saved:</h2>
      <ul>
      <% @conta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :usuario do |us| %>
    <div class="field">
      <%= us.label :nome %><br />
      <%= us.text_field :nome %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br />
    <%= f.check_box :ativo %>
  </div>
  <div class="field">
    <%= f.label :dataCadastro %><br />
    <%= f.datetime_select :dataCadastro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
