<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Website:</b>
  <%= @usuario.webSite %>
</p>

<p>
  <b>Datanascimento:</b>
  <%= @usuario.dataNascimento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Datacadastro:</b>
  <%= @usuario.dataCadastro %>
</p>

<p>
  <b>Flgmensagempublica:</b>
  <%= @usuario.flgMensagemPublica %>
</p>

<p>
  <b>Flgaddautomatico:</b>
  <%= @usuario.flgAddAutomatico %>
</p>

<p>
  <b>Cidade:</b>
  <%= @usuario.cidade_id %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
